_error
<h2 class="mb-3">[fr]Gestionnaire de fichier[/fr][en]File manager[/en][zh]&#x6587;&#x4EF6;&#x7BA1;&#x7406;&#x5668;[/zh][es]Gestor de archivos[/es][de]Dateimanager[/de]</h2>
<nav class="nav nav-pill nav-justified mb-4 bg-light">
    _home
    <a class="nav-link disabled bg-white"><i class="bi bi-folder fs-1 d-sm-none"></i><span class="d-none d-sm-block mt-2">[fr]Gestionnaire de fichier[/fr][en]File manager[/en][zh]&#x6587;&#x4EF6;&#x7BA1;&#x7406;&#x5668;[/zh][es]Gestor de archivos[/es][de]Dateimanager[/de]</span></a>
    _picM
    _refresh
</nav>
<p class="lead">
   <strong>_back</strong>
</p>
<div class="my-2"><span class="text-muted align-middle"><i class="bi bi-folder2-open align-middle fs-2 me-2"></i>_nb_subdir [fr]r&eacute;pertoire(s)[/fr][en]directory(ies)[/en][zh]&#x76EE;&#x5F55;[/zh][es]directorio(s)[/es][de]Verzeichnis(se)[/de]</span></div>
   <div class="_tabdirclassempty">
      <table class="mb-3 " data-toggle="table" data-classes="table table-borderless table-hover table-striped" data-mobile-responsive="true" data-search="true" data-buttons-class="outline-secondary">
         <thead>
            <tr>
               <th class="n-t-col-xs-1" data-halign="center" data-align="left">-</th>
               <th data-halign="center" data-align="left" data-sortable="true" data-sorter="htmlSorter">[fr]Nom[/fr][en]Name[/en][zh]&#x540D;&#x79F0;[/zh][es]Nombre[/es][de]Name[/de]</th>
               <th data-halign="center" data-align="right">[fr]Date[/fr][en]Date[/en][zh]&#x65E5;&#x671F;[/zh][es]Fecha[/es][de]Datum[/de]</th>
               <th class="n-t-col-xs-1" data-halign="center" data-align="center" class="d-none d-sm-table-cell">[fr]Poids[/fr][en]Size[/en][zh]&#x5927;&#x5C0F;[/zh][es]Tama&#xF1;o[/es][de]Gr&#xF6;&#xDF;e[/de]</th>
               <th data-halign="center" data-align="right" data-sortable="true" class="d-none d-sm-table-cell">[fr]Droits[/fr][en]Rights[/en][zh]&#x6743;&#x9650;[/zh][es]Derechos[/es][de]Rechte[/de]</th>
               <th data-halign="center" data-align="right">[fr]Fonctions[/fr][en]Functions[/en][zh]&#x529F;&#x80FD;[/zh][es]Funciones[/es][de]Funktionen[/de]</th>
            </tr>
         </thead>
         <tbody>
            _subdirs
         </tbody>
      </table>
   </div>
      <hr />
      <div class="my-2"><span class="text-muted"><i class="bi bi-file-earmark align-middle fs-2 me-2"></i>_nb_file [fr]fichier(s)[/fr][en]file(s)[/en][zh]&#x6587;&#x4EF6;[/zh][es]Archivo(s)[/es][de]Datei(en)[/de]</span></div>
      <table data-toggle="table" data-classes="table table-borderless table-hover table-striped" data-mobile-responsive="true" data-search="true" data-buttons-class="outline-secondary">
         <thead>
            <tr>
               <th class="n-t-col-xs-1" data-halign="center" data-align="left">-</th>
               <th data-halign="center" data-align="left" data-sortable="true" data-sorter="htmlSorter">[fr]Nom[/fr][en]Name[/en][zh]&#x540D;&#x79F0;[/zh][es]Nombre[/es][de]Name[/de]</th>
               <th data-halign="center" data-align="left">[fr]Date[/fr][en]Date[/en][zh]&#x65E5;&#x671F;[/zh][es]Fecha[/es][de]Datum[/de]</th>
               <th class="n-t-col-xs-1" data-halign="center" data-align="left" class="d-none d-sm-table-cell">[fr]Poids[/fr][en]Size[/en][zh]&#x5927;&#x5C0F;[/zh][es]Tama&#xF1;o[/es][de]Gr&#xF6;&#xDF;e[/de]</th>
               <th data-halign="center" data-align="left" data-sortable="true" class="d-none d-sm-table-cell">[fr]Droits[/fr][en]Rights[/en][zh]&#x6743;&#x9650;[/zh][es]Derechos[/es][de]Rechte[/de]</th>
               <th data-halign="right" data-align="right">[fr]Fonctions[/fr][en]Functions[/en][zh]&#x529F;&#x80FD;[/zh][es]Funciones[/es][de]Funktionen[/de]</th>
            </tr>
         </thead>
         <tbody>
            _files
         </tbody>
      </table>
   _infos
   <br />
   <div class="row">
      <div class="col-lg-6">
         <div class="card mb-3">
            <div class="card-header lead border-bottom-0 bg-transparent">
               <span class="text-muted"><i class="bi bi-search align-middle fs-2 me-2"></i>[fr]Recherche de Fichiers[/fr][en]Search files[/en][zh]&#x6587;&#x4EF6;&#x641C;&#x7D22;[/zh][es]B&#xFA;squeda de archivos[/es][de]Dateisuche[/de]</span>
            </div>
            <div class="card-body">
               <div class="help-block mb-1">[fr]Rechercher un fichier par son nom, une partie du nom (le d&#xE9;but, la fin, le milieu, ...)[/fr][en]Search a file by its name, part of its name (begin, end, middle,...)[/en][zh]&#x6309;&#x540D;&#x79F0;&#x641C;&#x7D22;&#x6587;&#x4EF6;&#xFF0C;&#x540D;&#x79F0;&#x7684;&#x4E00;&#x90E8;&#x5206;&#xFF08;&#x5F00;&#x59CB;&#xFF0C;&#x7ED3;&#x675F;&#xFF0C;&#x4E2D;&#x95F4;...)[/zh][es]Busca un archivo por nombre, parte del nombre (el principio, el final, el medio, ...)[/es][de]Suche eine Datei nach Name, Teil des Namens (Anfang, Ende, Mitte, ...)[/de]</div>
                _sea_file
            </div>
         </div>
      </div>
      <div class="col-lg-6 _classuplfileno">
         <div class="card mb-3" id="upl_file">
            <div class="card-header lead border-bottom-0 bg-transparent">
               <span class="text-muted"><i class="bi bi-upload align-middle fs-2 me-2"></i>[fr]T&eacute;l&eacute;charger un fichier sur le serveur[/fr][en]Upload a file[/en][zh]&#x4E0A;&#x4F20;&#x6587;&#x4EF6;&#x5230;&#x670D;&#x52A1;&#x5668;[/zh][es]Sube un archivo al servidor[/es][de]Laden Sie eine Datei auf den Server hoch[/de]</span>
            </div>
            <div class="card-body">
               _upl_file
            </div>
         </div>
      </div>
      <div class="col-lg-6 _classcredirno">
         <div class="card mb-3" id="cre_dir">
            <div class="card-header lead border-bottom-0 bg-transparent">
               <span class="text-muted"><i class="bi bi-folder-plus align-middle fs-2 me-2"></i>[fr]Cr&eacute;er un r&#xE9;pertoire[/fr][en]Create a directory[/en][zh]&#x521B;&#x5EFA;&#x4E00;&#x4E2A;&#x76EE;&#x5F55;[/zh][es]Crea un directorio[/es][de]Erstellen Sie ein Verzeichnis[/de]</span>
            </div>
            <div class="card-body">
               _cre_dir
            </div>
         </div>
      </div>
      <div class="col-lg-6 _classcrefileno">
         <div class="card mb-3" id="cre_file">
            <div class="card-header lead border-bottom-0 bg-transparent">
               <span class="text-muted"><i class="bi bi-file-earmark-plus align-middle fs-2 me-2"></i>[fr]Cr&eacute;er un fichier[/fr][en]Create a file[/en][zh]&#x521B;&#x5EFA;&#x4E00;&#x4E2A;&#x6587;&#x4EF6;[/zh][es]Crea un archivo[/es][de]Erstellen Sie eine Datei[/de]</span>
            </div>
            <div class="card-body">
               _cre_file
            </div>
         </div>
      </div>
   </div>
<div class="alert alert-success"> 
   _quota
</div>