<p class=" text-danger">_error</p>
<ul class="nav nav-tabs mb-4 d-flex flex-wrap">
   <li class="nav-item">
      <a class="nav-link active" href="#"><i class="bi bi-folder fs-1 d-sm-none"></i><span class="d-none d-sm-inline">[fr]Gestionnaire de fichier[/fr][en]File manager[/en][zh]&#x6587;&#x4EF6;&#x7BA1;&#x7406;&#x5668;[/zh][es]Gestor de archivos[/es][de]Dateimanager[/de]</span></a>
   </li>
   <li class="nav-item">
      _picM
   </li>
   <li class="nav-item">
   _refresh
   </li>
</ul>
<p class="lead">
   <strong>_back</strong>
</p>

<div class="my-2"><span class="text-muted align-middle"><i class="bi bi-folder2-open align-middle fs-2 me-2"></i>&nbsp;_nb_subdir [fr]r&eacute;pertoire(s)[/fr][en]directory(ies)[/en][zh]&#x76EE;&#x5F55;[/zh][es]directorio(s)[/es][de]Verzeichnis(se)[/de] </span></div>
<table class="mb-3 _tabdirclassempty" data-toggle="table" data-classes="table table-sm table-no-bordered table-hover table-striped" data-mobile-responsive="true">
   <thead>
      <tr>
         <th class="n-t-col-xs-2" data-halign="center" data-align="center">ico.</th>
         <th data-halign="center" data-align="center">[fr]Nom[/fr][en]Name[/en][zh]&#x540D;&#x79F0;[/zh][es]Nombre[/es][de]Name[/de]</th>
         <th data-halign="center" data-align="right">[fr]Date[/fr][en]Date[/en][zh]&#x65E5;&#x671F;[/zh][es]Fecha[/es][de]Datum[/de]</th>
         <th data-halign="center" data-align="center" class="d-none d-sm-table-cell">[fr]Poids[/fr][en]Size[/en][zh]&#x5927;&#x5C0F;[/zh][es]Tama&#xF1;o[/es][de]Gr&#xF6;&#xDF;e[/de]</th>
         <th data-halign="center" data-align="right" data-sortable="true" class="d-none d-sm-table-cell">[fr]Droits[/fr][en]Rights[/en][zh]&#x6743;&#x9650;[/zh][es]Derechos[/es][de]Rechte[/de]</th>
         <th data-halign="right" data-align="right">[fr]Fonctions[/fr][en]Functions[/en][zh]&#x529F;&#x80FD;[/zh][es]Funciones[/es][de]Funktionen[/de]</th>
      </tr>
   </thead>
   <tbody>
   _subdirs
   </tbody>
</table>

<div class="my-2"><span class="text-muted align-middle"><i class="fa fa-file fa-2x"></i>&nbsp;_nb_file [fr]fichier(s)[/fr][en]file(s)[/en][zh]&#x6587;&#x4EF6;[/zh][es]Archivo(s)[/es][de]Datei(en)[/de]</span></div>
<table data-toggle="table" data-classes="table table-sm table-no-bordered table-hover table-striped" data-mobile-responsive="true">
   <thead>
      <tr>
         <th data-halign="center" data-align="center">ico.</th>
         <th data-halign="center" data-align="center">[fr]Nom[/fr][en]Name[/en][zh]&#x540D;&#x79F0;[/zh][es]Nombre[/es][de]Name[/de]</th>
         <th data-halign="center" data-align="right">[fr]Date[/fr][en]Date[/en][zh]&#x65E5;&#x671F;[/zh][es]Fecha[/es][de]Datum[/de]</th>
         <th data-halign="center" data-align="center" class="d-none d-sm-table-cell">[fr]Poids[/fr][en]Size[/en][zh]&#x5927;&#x5C0F;[/zh][es]Tama&#xF1;o[/es][de]Gr&#xF6;&#xDF;e[/de]</th>
         <th data-halign="center" data-align="right" data-sortable="true" class="d-none d-sm-table-cell">[fr]Droits[/fr][en]Rights[/en][zh]&#x6743;&#x9650;[/zh][es]Derechos[/es][de]Rechte[/de]</th>
         <th data-halign="right" data-align="right">[fr]Fonctions[/fr][en]Functions[/en][zh]&#x529F;&#x80FD;[/zh][es]Funciones[/es][de]Funktionen[/de]</th>
      </tr>
   </thead>
   <tbody>
   _files
   </tbody>
</table>
      _infos
<br />
   <div id="upl_file">[fr]T&eacute;l&eacute;charger un fichier sur le serveur[/fr][en]Upload a file[/en][zh]&#x4E0A;&#x4F20;&#x6587;&#x4EF6;&#x5230;&#x670D;&#x52A1;&#x5668;[/zh][es]Sube un archivo al servidor[/es][de]Laden Sie eine Datei auf den Server hoch[/de]</div>
      _upl_file
   <div id="cre_file">[fr]Cr&eacute;er un fichier[/fr][en]Create a file[/en][zh]&#x521B;&#x5EFA;&#x4E00;&#x4E2A;&#x6587;&#x4EF6;[/zh][es]Crea un archivo[/es][de]Erstellen Sie eine Datei[/de]</div>
      _cre_file
   <div id="cre_dir">[fr]Cr&eacute;er un r&eacute;pertoire[/fr][en]Create a directory[/en][zh]&#x521B;&#x5EFA;&#x4E00;&#x4E2A;&#x76EE;&#x5F55;[/zh][es]Crea un directorio[/es][de]Erstellen Sie ein Verzeichnis[/de]</div>
      _cre_dir

<div class="alert alert-success">
   _quota
</div>