<style type="text/css">
#photo {
  text-align: center;
  width: 100%;
}
#photo .imagethumb a {
  height: 175px;
  width:  175px;
  padding: 10px;
  margin: 6px;
  border: 1px solid var(--bs-primary);
  background: var(--bs-light);
  float: left;
  line-height: 0px;
  text-align: center;
}
#photo .imagethumb a:hover {
  border: 1px solid var(--bs-primary);
  background: var(--bs-dark);
}
div.mp3 {
  height: 110px;
  width:  150px;
  padding: 10px;
  margin-bottom: 5px;
  float: left;
  line-height: 12px;
  text-align: left;
  border: 1px solid #000;
  background: #CACDC2;
}
</style>
<h2 class="mb-3">[fr]Images manager[/fr][en]Pictures Manager[/en][zh]&#x56FE;&#x7247;&#x7BA1;&#x7406;&#x5458;[/zh][es]Gerente de fotos[/es][de]Bilder Manager[/de]</h2>
<nav class="nav nav-pill nav-justified mb-4 bg-light">
    <a class="nav-link" href="index.php"><span class="bi bi-house-fill fs-1 align-middle"></span></a>
    _fileM
    <a class="nav-link disabled bg-white"><i class="bi bi-image fs-1 d-sm-none"></i><span class="d-none d-sm-block mt-2">[fr]Images manager[/fr][en]Pictures Manager[/en][zh]&#x56FE;&#x7247;&#x7BA1;&#x7406;&#x5458;[/zh][es]Gerente de fotos[/es][de]Bilder Manager[/de]</span></a>
    _refresh
</nav>
<p class="lead">
   <strong>_back</strong>
</p>
<div class="my-2"><span class="text-muted"><i class="bi bi-folder2-open align-middle fs-2 me-2"></i>_nb_subdir [fr]r&eacute;pertoire(s)[/fr][en]directory(ies)[/en][zh]&#x76EE;&#x5F55;[/zh][es]directorio(s)[/es][de]Verzeichnis(se)[/de]</span></div>

<table class="mb-3 _classempty" data-toggle="table" data-mobile-responsive="true" data-classes="table table-sm table-bordeless table-hover table-striped">
   <thead class="collapse" >
      <tr>
         <th data-halign="center" data-align="center">ico.</th>
         <th data-halign="center" data-align="center" data-sortable="true" data-sorter="htmlSorter">[fr]Nom[/fr][en]Name[/en][zh]&#x540D;&#x79F0;[/zh][es]Nombre[/es][de]Name[/de]</th>
         <th data-halign="center" data-align="right">[fr]Date[/fr][en]Date[/en][zh]&#x65E5;&#x671F;[/zh][es]Fecha[/es][de]Datum[/de]</th>
         <th data-halign="center" data-align="center">[fr]Poids[/fr][en]Size[/en][zh]&#x5927;&#x5C0F;[/zh][es]Tama&#xF1;o[/es][de]Gr&#xF6;&#xDF;e[/de]</th>
      </tr>
   </thead>
   <tbody>
         _subdirs
   </tbody>
</table>
      _files