<table width="90%" align="center">
<div id="container">
<tr><td colspan="3">
<div id="header_infos">
   !nb_online!
   !whoim!
</div>
<div id="header_logo">
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   !date!
</div>
<div id="header_banner">
   !banner!
</div>
<div id="header_search">
   !search_topics!
   !search!
</div>
<div id="header_navbar">
<div id="header_menu">
   <li><a href="index.php">[fr]Accueil[/fr][en]Home[/en]</a></li>
   <li>!member!</li>
   <li><a href="submit.php">[fr]Soumettre un article[/fr][en]Submit a New[/en]</a></li>
</div>
</div>
  