<h2>[transl]Sujets[/transl]</h2>
<?php echo groupe_text(); ?>
<?php echo noforbadmail(); ?>
<a href="#topi_subsc">[transl]Gestion de vos abonnements[/transl]</a>
!/!
<h3 class="my-3">[transl]Sujets actifs[/transl]</h3>
<a name="topi_activ"></a>
<div class="row g-0" data-masonry='{"columnWidth": 0, "itemSelector": ".griditem" }'> topic_all() </div>
<?php echo groupe_text(); ?>
<?php echo noforbadmail(); ?>
<h3 class="my-3">[transl]Gestion de vos abonnements[/transl]</h3>
 <a name="topi_subsc"></a>
<div>
   <?php echo topic_subscribeON(); ?>
   <?php echo topic_subscribe(col-4); ?>
   <?php echo topic_subscribeOFF(); ?>
</div>
!/!
<script type="text/javascript" src="themes/default/assets/js/masonry.pkgd.min.js"></script>